<a href="https://colab.research.google.com/github/hyeryn/algorithm/blob/main/1_%EA%B7%B8%EB%A6%AC%EB%94%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#예제

In [ ]:
money = 1260
total = 0

coins = [500,100,50,10]

for coin in coins:
  count = 0
  total += money // coin
  count += money // coin
  print(coin, "원", count, "개")
  money %= coin 
print("총",total,"개")

500 원 2 개
100 원 2 개
50 원 1 개
10 원 1 개
총 6 개

#큰 수의 법칙

In [ ]:
n, m, k = map(int, input().split())
data = list(map(int,input().split()))

data.sort()
first = data[n-1]
secont = data[n-2]
total = 0

while (m>0):
  for i in range(k):
    if m==0:
      break;
    total += first
    m-=1
  if m==0:
    break;
  total += second
  m-=1

print(total)

4 5 2
1 2 3 4
19

In [ ]:
# (+a)

n, m, k = map(int,input().split())
data = list(map(int, input().split()))

data.sort()
first = data[n-1]
second = data[n-2]
total = 0

count = int((m/(k+1)))*k
count += m % (k+1)

total += (count) * first
total += (m-count) * second

print(total)

4 5 2
1 4 3 5
24

# 숫자 카드 게임

In [ ]:
n, m = map(int, input().split())

result = 0

for i in range(n):
  data = list(map(int, input().split()))
  small = min(data)
  result = max(result,small)

print(result)

2 4
7 3 1 8
3 3 3 4
3

#1이 될 때까지

In [ ]:
n, m = map(int, input().split())

import time
start = time.time() 

count = 0

while (n != 1):
  if n % m == 0:
    n /= m
    count += 1
  else :
    n -= 1
    count += 1
print(count)

print(time.time()-start)

100 40
22
0.0002155303955078125

In [ ]:
# 주어진 값 이외의 숫자를 입력하면 왜 안될까?

n, m = map(int, input().split())

import time
start = time.time() 

count = 0

while n>=k:
  while n%k!=0:
    n-=1
    count+1
  n//=k
  count+=1

while n>1:
  n -=1
  count += 1
print(count)

print(time.time()-start)

100 40
6
0.0003304481506347656

#백준

1. 동전0 (11047)

In [ ]:
n, k = map(int,input().split())
coin = []
count = 0

for i in range(n):
  coin.append(int(input()))

while n>=0:
  if k >= coin[n-1]:
    count += k // coin[n-1]
    k = k % coin[n-1]
  else :
    n -= 1 

print(count)

10 4200
1
5
10
50
100
500
1000
5000
10000
50000
6

2. 회의실 배정 (1931)

In [20]:
n = int(input())
rooms = []

for i in range(n):
  first, second = map(int,input().split())
  rooms.append([first,second])

2
1 3
2 4
None

3. ATM (11399)

In [ ]:
n = int(input())
p = list(map(int, input().split()))

p.sort()
result = 0

for i in range(n):
  for j in range(i+1):
    result += p[j]

print(result)

5
3 1 4 3 2
32

In [ ]:
# 테스트용
n = 5
p = []
p.append(3)
p.append(1)
p.append(4)
p.append(3)
p.append(2)

p.sort()
result = 0

for i in range(n):
  for j in range(i+1):
    result += p[j]
print(result)

32

4. 잃어버린 괄호 (1541)

In [ ]:
cal = input().split('-')
sum = 0

for i in cal[0].split('+'): 
  sum += int(i)
for i in cal[1:]:
  for j in i.split('+'):
    sum -= int(j)
print(sum)

50-55+30
55
30
-35

5. 주유소 (13305)

In [ ]:
n = int(input())
road = list(map(int,input().split()))
oil = list(map(int,input().split()))
money = 0

for i in range(len(road)):
  if oil[i] >= oil[i+1]:
    money += road[i] * oil[i]
  else :
    oil[i+1] = oil[i]
    money += road[i] * oil[i]
print(money)

4
2 3 1
5 2 4 1
18